<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación de Calendario</h1>
    <p><a href="{% url 'crear_cuenta' %}">Crear Cuenta</a></p>
    <p><a href="{% url 'listar_cuentas' %}">Listar Cuentas</a></p>
    <p><a href="{% url 'crear_usuario' %}">Crear Usuario</a></p>
    <p><a href="{% url 'listar_usuarios' %}">Listar Usuarios</a></p>
    <p><a href="{% url 'crear_evento' %}">Crear Evento</a></p>
    <p><a href="{% url 'listar_eventos' %}">Listar Eventos</a></p>
    <p><a href="{% url 'crear_coleccion' %}">Crear Colección</a></p>
    <p><a href="{% url 'listar_colecciones' %}">Listar Colecciones</a></p>
</body>
</html>
